.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow:
        0 0px 20px rgba(0, 0, 0, 0.2),
        0 0px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: relative;
    overflow: hidden;
    z-index: 1000;
    font-weight: bold;
}

.container.isMobile {
    display: none;
}

.imageContainer {
    height: 40px;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.hastingsImage {
    height: 33px;
}

.imageContainer:first-child {
    border-bottom: 1px solid #ddd;
}

.bridge2AiImage {
    margin-top: 3px;
    height: 20px;
    z-index: 2;
    mix-blend-mode: multiply;
}

.waveImage {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0.22;
    transform: rotate(180deg);
}

@media (max-aspect-ratio: 1) {
    .container {
        display: none;
    }

    .container.isMobile {
        display: flex;
    }

    .imageContainer {
        height: 30px;
    }

    .hastingsImage {
        height: 28px;
    }

    .bridge2AiImage {
        height: 18px;
    }
}
