.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow:
        0 0px 20px rgba(0, 0, 0, 0.2),
        0 0px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    position: relative;
    overflow: hidden;
    height: 64px;
    min-height: 64px;
    z-index: 1000;
    font-weight: bold;
}

.container.isMobile {
    display: none;
}

.headerTexts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerText {
    font-size: 24px;
    text-align: center;
}

.subheaderText {
    line-height: 1.2;
    margin-top: 7px;
    font-size: 16px;
    opacity: 0.5;
}

@media (max-aspect-ratio: 1) {
    .container {
        display: none;
        height: 55px;
        min-height: 55px;
    }

    .container.isMobile {
        display: flex;
    }

    .headerText {
        font-size: 20px;
    }

    .subHeaderText {
        font-size: 14px;
        margin-top: 5px;
    }
}
