.container {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
    width: 400px;
    max-width: 45dvw;
}

.content {
    flex: 1;
}

@media (max-aspect-ratio: 1) {
    .container {
        flex: unset;
        height: 40dvh;
        width: 100dvw;
        max-width: 100dvw;
    }
}
