.container {
    margin-top: 10px;
}

.header {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 2px;
}

.isExpanded .header {
    color: white;
}

.title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.25;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 10px;
}

.header:hover {
    opacity: 0.85;
}

.isExpanded .header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.details {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.isExpanded .details {
    border: 3px solid red;
}

.details a {
    word-break: break-all;
}

.legislation {
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 4px;
}

.legislationKey {
    padding: 2px;
    margin-right: 5px;
    word-break: keep-all;
    flex: 1;
    font-weight: bold;
    text-wrap: nowrap;
}

.legislationValue {
    padding: 2px;
    white-space: pre-wrap;
    line-height: 1.3;
}

.isExpanded .arrow {
    transform: rotate(180deg);
}
