.container {
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 0;
    display: flex;
}

.loading {
    font-size: 16px;
    color: #fff;
    font-style: italic;
    text-align: center;
    position: absolute;
    transition: all 200ms;
}

.isMapInitialized .loading {
    opacity: 0;
}

.map {
    opacity: 0;
    transition: all 2000ms;
    transition-delay: 100ms;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.isMapInitialized .map {
    opacity: 1;
}
